{% extends "base.html" %}

{% block table %}
<div class="p-4 sm:ml-64">
    <!-- <div class="inline-flex">
        <form action="/" method="POST">
            <input type="text" name="season" placeholder="season">
            <input type="submit" value="Submit">

        </form>

        <form action="/delete" method="POST">
            <input type="submit" value="Delete">
        </form>
    </div> -->
    <h1>here</h1>
    <table>
        {% for match in matches %}
        {% if loop.index0 == 0 %}
        <thead>
            {% for field in match %}
            <th>{{field}}</th>
            {% endfor %}
        </thead>
        {% endif %}
        <tbody>
            <tr>
                {% for field in match %}
                <td>{{match[field]}}</td>
                {% endfor %}
            </tr>

        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}